h1 {
    position: sticky;
    top: 0;
    z-index: 1;
  
    .logo {
      background-color: #bde3f8;
      padding-top: .5vw;   
      padding-bottom: .5vw;  
      overflow: hidden;      
  
      ul {
        list-style: none;
        margin: 0 auto;       
        padding: 0;           /* 大切！！ */
        display: block;
        text-align: center;
      }
  
      li {
        /* any list-item styles */
      }
  
      img {
        display: block;       
        width: 8vw;
        min-width: 100px;
        margin: 0 auto;       
      }
    }
  }


.headerbg{
    img{
    width: 100%;
    position: absolute;
    z-index: -1;
    }
}

.banner{
    img{
        width: 25%;
        position: absolute;
        margin-left: 5vw;
        margin-top:20vw;
    }
}

.gacha{
    img{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    margin-left: 1.5vw;
}

/* ------------------------------------------------------- */

body{
    background-image: url('../img/bg1.png');
    background-size: 100%;
}
  
.lineup{
    ul{
        display: block;
        list-style: none;
        text-align: right;
        margin-right: 13vw;
        padding-top: 10vw;
        
    }
    img{
        width: 10%;
        min-width: 50px;
        &:hover {
            transform: scale(1.1);
            }
    }
}

.osu{
    ul{
    display: block;
    text-align: center;
    list-style: none;
    padding: 0; /*大切！！*/
    }
    img{
    width: 30%;
    
    &:hover {
        animation-name: pulse;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        }
    }
    padding-top: 8vw;


}

@keyframes pulse {
    25% {
      transform: scale(1.1);
    }
  
    75% {
      transform: scale(.9);
    }
  }

/* ------------------------------------------------------ */

footer{
    img{
    width: 100%;
    padding-top: 7vw;
    }
}



*{
    margin: 0;    /*border無し*/
}
