h1 {
    position: sticky;
    top: 0;
    z-index: 1;
  
    .logo {
      background-color: #bde3f8;
      padding-top: .7vw;   
      padding-bottom: .7vw;  
      overflow: hidden;      
  
      ul {
        list-style: none;
        margin: 0 auto;       
        padding: 0;           /* 大切！！ */
        display: block;
        text-align: center;
      }
  
      li {
        /* any list-item styles */
      }
  
      img {
        display: block;       
        width: 11vw;
        min-width: 100px;
        margin: 0 auto;       
      }
    }
  }



.headerbg{
    img{
    width: 100%;
    position: absolute;
    z-index: -1;
}
    }



.qr{

    img{
        width: 40vw;
        min-width: 390px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    padding-top: 5vw;
}

.lineup{
    ul{
        display: block;
        list-style: none;
        text-align: right;
        margin-right: 45px;
        padding: 0; /*大切！！*/
    }
    img{
        width: 11vw;
        min-width: 110px;
        &:hover {
            transform: scale(1.1);
            }
    }
}

.button{
    ul{
        display: block;
        text-align: center;
        list-style: none;
        margin-top: 50px;
        padding: 0; /*大切！！*/

    }
    img{
        width: 22vw;
        min-width: 220px;
        
        &:hover {
            transform: scale(1.1);
        }
    }
}


footer{
    img{
    width: 100%;
    padding-top: 30px;
    }
}




*{
    margin: 0;    /*border無し*/
}
